*{
	margin: 0px;	
	font-family: 'Roboto', sans-serif;
    
}
/*.......................NAV.................*/
nav{
	width: 100%;
	background: #000;
	color: #fff;
	padding: 2em 0em 3em 0em;
	font-family: 'Roboto', sans-serif;
	display: block;
}
nav div{
	float: left;
	margin-left: 10%;
    background: #000;
}
nav h2, h3{
	float: left;
    background: #000;
}
nav h3{
 color: #44D7A8;
}
nav ul{
	margin-right: 3%;
	float: right !important;
    background: #000;
}
nav ul li{
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0em 1em;
	float: left;
	text-decoration: none;
	list-style: none;
    background: #000;
}
/*........................FORMULARIO............................*/
section{
    background: #ededed;
    height: 500px;

}
.divMessage{
    width: 34%;
    height: auto;
    float: left;
    margin: 2% 33%;
    background: #fff;
    border-radius: .4em;
}

input {
    width: 60%;
    text-align: center;
    padding: 0.8em 0em;
    margin: 5% 20%;
    border-radius: 0.4em;
    outline: none;
    border: 0.5px solid rgb(68, 215, 168);

}
input: hover{
	box-shadow: 1px 0px 4px 6px #44D7A8;
}
form h4{
    background: #44D7A8;
    color: #fff;
    margin: 0em 0em 0.5em;
	padding: 1em 0em;
    font-size: 1.5em;
    text-align: center;
    box-shadow: rgb(197, 197, 197) 0px 3px 6px 0px;
    border-bottom: 0.5px solid rgb(197, 197, 197);


}
form img{
    width: 60%;
    height: 100px;
    margin:0% 20%;
}
.button-acess {
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
    cursor: pointer;
    background: rgb(68, 215, 168);
    padding: 1em 2em;
    margin: 0em 1em;
}
h4 {
    display: block;
    font-weight: bold;
}
.contain-valor {
    margin: 0em 1em;
    padding: 0em 1em;
}
.contain-valor label {
    color: red;
    margin-left: 20%;
    display: none;
}
textarea, .cipherMessage {
    width: 60%;
    height: 60px;
    margin: 1% 20%;
    padding: 1em 0em;
    border-radius: 0.4em;
    outline: none;
    text-transform: uppercase;
    text-align: center;
    font-family: "Roboto", sans-serif;    
    
    border:0.5px solid #44D7A8;
}
.cipherMessage {
	text-align: center;
}
.contain-button {
    margin: 0em 30% 1em;
}
.buttonOk{
    background:#EC0044;
    border: 1px solid #EC0044;
    color: #fff;
    cursor: pointer;
}
/*...............................FOOTER............................*/
footer {
    background: #ededed;
    padding-bottom: 1.8em;

}
footer div {
    background: #ededed;
    width: 60%;
    color: rgb(0, 0, 0);
    margin: 0% 20%;
    padding: 1em;
    border-top: 1px solid rgb(0, 0, 0);
}
footer div p {
    background: #ededed;
    width: 50%;
    font-weight: bold;
    margin: 0% 25%;
}
.contain-valor label {
    color: red;
    margin-left: 20%;
    display: none;
}
#messageDes{
	display: none;
}
/**/
@media (max-width: 850px){
	nav ul{
		display: none;
	}
	.divMessage{
    width: 50%;
    margin: 2% 25%;
	}
    .contain-valor {
    margin: 0em 0em;
    padding: 0em 0em;
	}	
}
@media (max-width: 550px){

	.divMessage{
    width: 80%;
    margin: 2% 10%;	}

@media (max-width: 350px){

	.divMessage{
    width: 94%;
    margin: 2% 3%;	}
}